<%- include('partials/header.ejs') %>
<h1>View all of your posts here</h1>
<% if (posts.length > 0) { %>
    <ul>
        <% posts.forEach(post => { %>
            <li>
                <h2><%= post.title %></h2>
                <p><%= post.author %></p>
                <p><%= post.date %></p>
                <p><%= post.content %></p>
                <div class="button-container">
                    <form action="/edit/<%= post.id %>" method="get">
                        <input type="submit" value="Edit">
                    </form>
                    <form action="/delete/<%= post.id %>" method="post">
                        <input type="submit" value="Delete">
                    </form>
                </div>
            </li>
        <% }) %>
    </ul>
<% } else { %>
    <p>No posts to display yet</p>
<% } %>

<%- include('partials/footer.ejs') %>