<%- include('partials/header.ejs') %>
<h1>View all of your posts here</h1>
<% if (posts.length > 0) { %>
    <ul>
        <% posts.forEach(post => { %>
            <li>
                <h2><%= post.title %></h2>
                <p><%= post.author %></p>
                <p><%= post.date %></p>
                <p><%= post.content %></p>
                <form action="/edit" method="get">
                    <input type="submit" value="Edit">
                </form>
                
                <form action="/delete" method="post">
                    <input type="submit" value="Delete">
                </form>
                
            </li>
        <% }) %>
    </ul>
<% } else { %>
    <p>No posts to display yet</p>
<% } %>